@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search_cont {
        width: max(22%, 300px);
    }

    .awaiting_search {
        width: max(78%, calc(100% - 300px));
    }

    .radioInput:checked + .radio {
        color: #ff536e;
        font-weight: 600;
        border: 1.5px solid #341539;
    }

    .radioInput {
        /* display: none; */
    }
}
